body{
    margin-top: 0;
    height: 100%;
    background-color: red;
   background-image: url(../img/conejo.jpg); 
   background-repeat: no-repeat;
   background-position: top;
   background-size: cover;
}
nav{
    background-color: aqua;
    padding: 8px;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-self: center;
}
nav ul li{
    margin-right: 20px;
}
nav ul li a{
    color: red;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(77, 123, 150);
}
nav ul li a:hover{
    color: mediumvioletred;
    background-color: rgb(247, 6, 86);
}
.titulo{
    color: aquamarine;
    text-align: center;
}